<template name="co2">
	<div id="co2_outer">
		<div id="co2_wrap" class="wrap">
			<div class="co2_left">
				<div class="co2_image"></div>
				
			</div>
			<div id="co2_right" class="white">
				<img class="beerman_low" src="../../images/tyler_pic.jpg" width="160" height="160" alt="Tyler Pic">
				<h2 class="blue_right">Integrated CO2</h2>
				<p class="gray">smartDRAFT™ Tap with the latest compensator technology. The integrated, pre-set pressure reducing valve ensures perfect results every time. Dispensing problems caused by the wrong pressure settings or the compensator just don't arise. Perfect hygiene with no cleaning required. And, each keg is supplied with a one-way beer line on delivery.
				<p>
				
			</div>
	
			<div style="clear:both"></div>
	
		
			<div id="radial_light"></div>
		</div>
	</div>
</template>