<template name="country">
	<div id="country_outer">
		<div id="country_wrap" class="wrap">
			<div id="left" class="white">
				<h2 class="blue_title_low">Made in California</h2>
				<p class="gray">Kombucha, a fermented tea, is steadily gaining in popularity among Paleo advocates, health connoisseurs, and well, people that just like a darn delicious drink.  Due to its sweet taste and slight alcohol content, it’s even been used to help individuals who want to get a grip on their sugar or alcohol cravings.
				<p>
				<p class="gray"> In fact, Kombucha was once pulled from the shelves of stores because some of the teas were found to contain more than 0.5% alcohol, which is the legal U.S. limit for nonalcoholic drinks. 
				<p>
				
			</div>
			<div class="countryside">
				<div class="country_image"></div>
				
			</div>
	
			<div style="clear:both"></div>
	
		
			<div id="radial_light"></div>
		</div>
	</div>
</template>