<template name="drinks">
	<div id="drinks">
		<div class="menu">
			<div class="menu_title">Drink Recipes</div>
			<ul class="drink_menu">
				<li class="gray">2oz. of lime juice</li>
				<li>1oz. of grenadine</li>
				<li class="gray">2oz. of kombucha</li>
				<li>1oz. of dark rum</li>
				<li class="gray">lime garnish</li>
			</ul>
			<div class="ingredients">
				<p class="mix">Pour 1 oz. of dark rum 
				into the glass. Then 
				add simple syrup, lime 
				juice, kombucha and
				enjoy!</p>
			</div>
		</div>
		<div class="hot_t">
			<div class="drink_one">
				
			</div>
			<div class="name">Hot-T</div>
		</div>
		<div class="fruity_tooty">
			<div class="drink_two">
				
			</div>
			<div class="name">Fruity Tooty</div>
		</div>
		<div class="tea_paine">
			<div class="drink_three">
				
			</div>
			<div class="name">Tea Paine</div>
		</div>
	
		<div style="clear:both"></div>
	</div>
</template>