<template name="keg_drink">
	<div id="keg_drink_outer">
		<div id="keg_drink_wrap" class="wrap">
			<div id="left" class="white">
				<h2 class="blue_title_low">The Kombucha</h2>
				<p class="gray">Kombucha is a fermented tea that is a recognized probiotic.  In simple terms, the production involves making  sweet tea, adding a SCOBY (symbiotic culture of bacteria and yeast), and letting the SCOBY consume the sugar to produce a drink full of B vitamins, amino acids, organic acids, enzymes, and probiotics.  The SCOBY looks like a mix between a jellyfish and a mushroom.  It doesn’t sound that appetizing, but what a nice nutritional trade off! You can also increase the carbonation by bottling it a second time in smaller containers after the first fermentation is complete.<p>
				
			</div>
			<div id="right">
				<div class="keg_drink_image"></div>
				
			</div>
	
			<div style="clear:both"></div>
	
		
			<div id="radial_light"></div>
		</div>
	</div>
</template>