<template name="the_change">
	<div id="change_outer">
		<div id="change_wrap" class="wrap">
			<div id="left" class="white">
				<h2 class="blue_title">The Change</h2>
				<p class="gray">After noticing an uplifting feeling and noticeable changes during my recovery, I decided to make Kombucha my go-to beverage along with water. There was very little I had control of in my life at this time.  In fact, since I was unable to exercise and/or concentrate, the only thing I could do to fast track  my recovery was be more conscious of what I consumed with my daily intake. 
				<p>
				<p class="gray">So I got serious with my nutrition and started drinking at least two cups a day of Kombucha on average. It became such an expensive habit as I increased my daily intake that I was forced to start brewing to save money. 
				<p>
			
			</div>
			<div id="right">
				<div class="health"></div>
				
			</div>
	
			<div style="clear:both"></div>
	
		
			<div id="radial_light"></div>
		</div>
	</div>
</template>