<template name="the_light">
	<div id="light_outer">
		<div id="light_wrap" class="wrap">
			<div class="light_left">
				<div class="light_image"></div>
				
			</div>
			<div id="light_right" class="white">
				<h2 class="blue_right" style="margin-top:-50px">Seeing The Light</h2>
				<p class="gray"> My first reaction was to turn my wheel back towards the freeway to get back on the road and avoid danger. Unfortunately, my car was traveling so fast it immediately spun-out and proceeded to flip four times along side the freeway. Luckily I had a seatbelt on and it saved my life... 
				<p>
					<p class="gray">I was rushed to the hospital in an ambulance. The next morning when I woke up, I was told I had minor brain damage and a concussion.</p>
				
			</div>
	
			<div style="clear:both"></div>
	
		
			<div id="radial_light"></div>
		</div>
	</div>
</template>