<template name="the_start">
	<div id="left_five_outer">
		<div id="left_five_wrap" class="wrap">
			<div id="left" class="white">
				<h2 class="blue_title_low">How It All Started</h2>
				<p class="gray">My story for how I stumbled across Kombucha was completely serendipitous, but it has completely turned my life around; one glass at a time...
				<p>
				<p class="gray">On March 31st, 2012 I went to a hip-hop concert for one of my favorite artists Luckyiam. After having way too much to drink and leaving the club hammered beyond belief, I found myself driving on the freeway alone. It was after 1 AM and I was very tired, subsequently falling asleep at the wheel going 90 mph. It wasn't long before I woke up with my car headed off a cliff as my car drove off the freeway...
				<p>
			
			</div>
			<div id="right">
				<div class="rapper"></div>
				
			</div>
	
			<div style="clear:both"></div>
	
		
			<div id="radial_light"></div>
		</div>
	</div>
</template>