<template name="the_brew">
	<div id="brew_outer">
		<div id="brew_wrap" class="wrap">
			<div id="left" class="white">
				<h2 class="blue_title">How We Brew</h2>
				<p class="gray">So we at Conscious Kombucha brew and ferment this probiotic fizzy tea drink, and provide it with the Love necessary to give it its effervescent taste. If you want to get technical, that means: as we brew and ferment the culture in our liquid tea recipes, the "zoogleal mat" produces a small amount of drinkable liquid each day, containing organic acids, active enzymes, amino acids and antioxidants--all the good stuff that revitalizes and cleanses your body. As part of the process we use Yeast to process sugar into acids and vitamins. Over time, we add more sweetened tea to keep the Enlightenment Process going.  
				<p>
				
			
			</div>
			<div id="right">
				<div class="brew"></div>
				
			</div>
	
			<div style="clear:both"></div>
	
		
			<div id="radial_light"></div>
		</div>
	</div>
</template>