<template name="cocktail">
	<div id="cocktail_outer">
		<div id="cocktail_wrap" class="wrap">
			<div class="cocktail_left">
				<div class="image_cocktail"></div>
			</div>
			<div id="right">
				<h2 class="blue_title">Conscious Kombucha</h2>
				<p>here have been an endless amount of healing properties associated with the consumption of kombucha.  Websites that sell kombucha cultures, kits, and tools like Kombucha Kamp, report benefits such as its ability to: alkalize the body, detoxify the liver, increase metabolism, improve digestion, rebuild connective tissue, reduce headaches, alleviate constipation, boost energy, and the list goes on.  <p>
					<p>here have been an endless amount of healing properties associated with the consumption of kombucha.  Websites that sell kombucha cultures, kits, and tools like Kombucha Kamp, report benefits such as its ability to: alkalize the body, detoxify the liver, increase metabolism, improve digestion, rebuild connective tissue, reduce headaches, alleviate constipation, boost energy, and the list goes on.  <p>
				
			</div>
	
			<div style="clear:both"></div>
	
		
			<div id="radial_light"></div>
		</div>
	</div>
</template>