<template name="contact">
	<div id="contact_wrap">
		<div id="page-wrap">
			<p class="charles">Sign up for a Kombucha tap!</p>
			<h2 class="contact_tag">I'm a highly-driven entrepreneur with a passion for business, products and people. My current focus is to help clients bolster their personal brand and company image with a clean, custom website that offers them the ability to focus on their field of expertise without worrying about every little detail required to keep their online presence professional and presentable!</h2>
			<div id="address">
				<div class="big_map">
					
				</div>
				<div class="directions">
					<h1>Zone of distribution</h1>
						<p>Santa Barbara, Los Angeles, </p>
						<p>San Francisco, and San Diego</p>
				</div>
			</div>
			<div id="contact-area">
				<form id="contact_form">
					<div class="field_input">
						<label for="Name">Name:</label>
						<input type="text" name="Name" id="contact_name" />
					</div>
					<div class="field_input">	
						<label for="Email">Email:</label>
						<input type="text" name="Email" id="contact_email" />
					</div>
					<div style="clear: both;"></div>
					<div class="field_input">
						<label for="City">City:</label>
						<input type="text" name="Name" id="contact_city" />
					</div>
					<div class="field_input">	
						<label for="Bar">Bar/Restaurant:</label>
						<input type="text" name="Email" id="contact_bar" />
					</div>
					<div style="clear: both;"></div>
					<div class="area_input">
						<label for="Message">Message:</label><br />
						<textarea name="Message" rows="7" cols="42" id="contact_message"></textarea>
					</div>
					<div style="clear: both;"></div>
						<input type="submit" name="submit" value="SIGN UP" class="submit-button" />
				</form>
			</div>
		</div>
	</div>
</template>