<template name="drinks">
	<div id="drinks">
		<div class="menu">
			<div class="menu_title">Drink Recipes</div>
			<ul class="drink_menu">
				<li class="gray">hot-t</li>
				<li>fruity tooty</li>
				<li class="gray">tea-paine</li>
			</ul>
			<div class="ingredients">
				<p>2oz of lime juice</p>
				<p>1oz of grenadine</p>
				<p>2oz of kombucha</p>
				<p>1oz of dark rum</p>
				<p class="mix">Pour 1 oz. of dark rum 
				into the glass. Then 
				add simple syrup, lime 
				juice, kombucha and
				enjoy!</p>
			</div>
		</div>
		<div class="hot_t">
			<div class="drink_one"></div>
		</div>
		<div class="fruity_tooty">
			<div class="drink_two"></div>
		</div>
		<div class="tea_paine">
			<div class="drink_three"></div>
		</div>
		<div class="recipes">
			<ul class="drink_recipe">
				<li class="image_one"><img src="../../images/triplesec.png" width="14" height="48" alt="Triplesec">triple sec</li>
				<li class="image_two"><img src="../../images/lime_juice.png" width="15" height="49" alt="Lime Juice">lime juice</li>
				<li class="image_three"><img src="../../images/rum.png" width="15" height="54" alt="Rum">dark rum</li>
				<li class="image_four"><img src="../../images/kiwi.png" width="63" height="46" alt="Kiwi">kiwi slice</li>
			</ul>
			<div class="recipe_title">Ingredients</div>
		</div>
	</div>
</template>