<template name="drinks">
	<div id="drinks">
		<div class="menu">
			<div class="menu_title">Drink Recipes</div>
			<ul class="drink_menu">
				<li class="gray">2oz. of lime juice</li>
				<li>1oz. of grenadine</li>
				<li class="gray">2oz. of kombucha</li>
				<li>1oz. of dark rum</li>
				<li class="gray">lime garnish</li>
			</ul>
			<div class="ingredients">
				<p class="mix">Pour 1 oz. of dark rum 
				into the glass. Then 
				add simple syrup, lime 
				juice, kombucha and
				enjoy!</p>
			</div>
		</div>
		<div class="hot_t">
			<div class="drink_one">
				<div class="mixers">
					<ul class="drink_recipe">
						<li class="image_one"></li>
						<li class="image_two"></li>
						<li class="image_three"></li>
						<li class="image_four"></li>
					</ul>
				</div>
			</div>
			<div class="name">Hot-T</div>
		</div>
		<div class="fruity_tooty">
			<div class="drink_two">
				<div class="mixers">
					<ul class="drink_recipe">
						<li class="image_one"></li>
						<li class="image_two"></li>
						<li class="image_three"></li>
						<li class="image_four"></li>
					</ul>
				</div>
			</div>
			<div class="name">Fruity Tooty</div>
		</div>
		<div class="tea_paine">
			<div class="drink_three">
				<div class="mixers">
					<ul class="drink_recipe">
						<li class="image_one"></li>
						<li class="image_two"></li>
						<li class="image_three"></li>
						<li class="image_four"></li>
					</ul>
				</div>
			</div>
			<div class="name">Tea Paine</div>
		</div>
		<div class="recipes">
			<div class="description">
				<div class="recipe">
					<ul>
						<li><img src="../../images/tea.png" width="22" height="26" alt="Tea"> Pour 2oz. <b>Kombucha</b> into a glass</li>
						<li><img src="../../images/lemon_icon.png" width="20" height="15" alt="Lemon Icon"> add 1 oz. of Roses lime juice</li>
						<li><img src="../../images/winebottle.png" width="7" height="21" alt="Winebottle"> In a shaker add ice and 2oz. <b>ciroc vodka</b> and kombucha mixture</li>
						<li><img src="../../images/drinkglass.png" width="20" height="22" alt="Drinkglass"> Shake and enjoy!</li>
					</ul>
				</div>
				
			</div>
			<div class="recipe_title">Ingredients</div>
		</div>
		<div style="clear:both"></div>
	</div>
</template>