<template name="footer">
	<div id="footer_wrap">
		<div id="footer">
			<div class="flavors">
				<a href="#">Flavors</a>
				<img src="../../images/copy4.png" width="18" height="11" alt="Copy4">
			</div>
			<div class="products">
				<a href="#">Products</a>
				<img src="../../images/copy4.png" width="18" height="11" alt="Copy4">
			</div>
			<div class="locations">
				<a href="#">Locations</a>
				<img src="../../images/copy4.png" width="18" height="11" alt="Copy4">
			</div>
			<div class="purchase">
				<a href="#">Purchase</a>
				<img src="../../images/copy4.png" width="18" height="11" alt="Copy4">
			</div>
			<div class="search">
					
			</div>
		</div>
	</div>
</template>