<template name="for_bars">
	<div id="for_bars_outer">
		<div id="for_bars_wrap" class="wrap">
			<div class="for_bars_left">
				<div class="for_bars_image"></div>
			</div>
			<div id="for_bars_right" class="white">
				<h2 class="blue_title_low">For Bars</h2>
				<p class="gray">All in all, I think kombucha can be a beneficial addition to your current routine.  If you’re curious about this intriguing concoction, try it out and see how you do.  The taste may not be the most pleasing at first, but it can become an acquired taste with time.  There are a wide variety of flavors available to help spice it up, but I’d stick with the original or most basic flavor instead of choosing ones with added purees.  Making kombucha at home is extremely easy and cost efficient, but just make sure you follow the protocols precisely and understand if your particular health status may put you at risk.
				<p>
				
			</div>
	
			<div style="clear:both"></div>
	
		
			<div id="radial_light"></div>
		</div>
	</div>
</template>