<template name="future">
	<div id="future_outer">
		<div id="future_wrap" class="wrap">
			<div id="left" class="white">
				<h2 class="blue_title">Future of Kombucha</h2>
				<p class="gray">We imagine a future where Kombucha's popularity becomes part of the mainstream consciousness. We imagine a future where people prefer to imbibe this Enlightened Tea in social gatherings. Up until now, you'd be lucky if you can even find a few bottles at your local grocery store.   
				<p>
				<p class="gray">	Because Kombucha has a bitter bite to its taste, you can sense it cleansing your system as you consume it. We imagine Kombucha becoming both an alternative healthy beverage for designated drivers and others who don't drink alcohol, as well as something smoother for those drinking.
				<p>
			
			</div>
			<div id="right">
				<div class="future"></div>
				
			</div>
	
			<div style="clear:both"></div>
	
		
			<div id="radial_light"></div>
		</div>
	</div>
</template>