<template name="future_three">
	<div id="future_three_outer">
		<div id="future_three_wrap" class="wrap">
			<div id="left" class="white">
				<h2 class="blue_title">Enlightened Tea</h2>
				<p class="gray">Ironically, I discovered Kombucha after alcohol almost killed me. As Kombucha brought me back to life and I got addicted to its cleansing bite, I realized that Kombucha makes for the perfect recipe for alcoholic drinks that are not so hard that they are not refreshing anymore and consumed more slowly, in a zen-like fashion. People enjoying drinks together is inevitable--it's part of our culture, and how we make great friends & memories. Conscious Kombucha offers the recipe for positive nights out, period. Look out for a Conscious Kombucha tap at your local California bars and restaurants, and if you're a bar-owner or restauranteur, we would love to install our fairly priced All-In-One Kombucha Tap dispenser at your venue soon!   
				<p>
			</div>
			<div id="right">
				<div class="future_three"></div>
				
			</div>
	
			<div style="clear:both"></div>
	
		
			<div id="radial_light"></div>
		</div>
	</div>
</template>