<template name="future_two">
	<div id="future_two_outer">
		<div id="future_two_wrap" class="wrap">
			<div id="left_two" >
				<div class="future_two_image"></div>
				
			</div>
			<div id="right_two" class="white">
				<h2 class="blue_right">The Proccess</h2>
				<p class="gray"> The Conscious Kombucha Discovery is that when mixed with alcohol its strong bite overpowers that of the alcohol, masking the alcohol's harshness while bringing forth the inner flavors of both the Kombucha and the alcohol it's mixed with. We think you'll be pleasantly surprised in the flexibility Kombucha brings to the mixologist. We believe the future of Kombucha lies in the hands of the discerning mixologist looking to achieve a balanced taste of bite and refreshment.
				<p>
				<p class="gray">We believe the future of Kombucha lies in the hands of the discerning mixologist looking to achieve a balanced taste of bite and refreshment. </p>
				
			</div>
	
			<div style="clear:both"></div>
	
		
			<div id="radial_light"></div>
		</div>
	</div>
</template>