<template name="left_two">
	<div id="left_two_outer">
		<div id="left_two_wrap">
			<div class="text_left_two">
				<h2>Tyler Beerman</h2>
				<p class="gray">I'm a highly-driven entrepreneur with a passion for business, products and people. My current focus is to help clients bolster their personal brand and company image with a clean, custom website that offers them the ability to focus on their field of expertise without worrying about every little detail required to keep their online presence professional and presentable!
				<p>
				<p class="gray"> Kombucha nourishes the body, delights your taste buds, bolsters your immunity, and makes your spirits fly. You feel on top of the world. Healthier. Happier. Stronger. It is living food for a living body.  
				<p>
				
			</div>
			<div class="countryside">
				<div class="country_image"></div>
				
			</div>
	
			<div style="clear:both"></div>
	
		
			<div id="radial_light"></div>
		</div>
	</div>
</template>