
<head>
	<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="container">
		{{>ribbon}}
		{{>header}}
		{{>kombucha}}
		{{>bar}}
		{{>keg_face}}
		{{>contact}}
		{{>the_start}}
		{{>the_light}}
		{{>the_crash}}
		{{>the_impact}}
		{{>the_change}}
		{{>the_tea}}
		{{>the_brew}}
		{{>more_brew}}
		{{>future}}
		{{>future_two}}
		{{>future_three}}
		{{>tyler}}
		{{>blue_tap}}
		{{>two_kegs}}
		{{>keg_drink}}
		{{>drinks}}
		{{>co2}}
		{{>country}}
		{{>cocktail}}
		{{>restaurants}}
		{{>old_tap}}
		{{>for_bars}}
		{{>car}}
		{{>footer}}
	</div>
</body>
