<head>
	<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
	<div id="container">

	
		
		
		<div id="main_content" style="display:none;">
			<div class="row_container">
				<div id="sales_logo">
					<img class="enlightened" src="../../../images/sales_enlightened.png" width="289" height="36" alt="Sales Enlightened">
				</div>
					
					{{renderPage}}
				<p class="copyright">Copyright ConsciousKombucha.com</p>
			</div>
		</div>
		
	
	</div>
	
</body>

<template name="shutters">
	<div id="container">

		{{#constant}}
			<div id="chomper_top"><div id="header_glow"></div></div>
			{{>header}}
		{{/constant}}
		
		<div style="height: 100px;"></div>
		<div id="main_content" style="display:none;">
			
		</div>
		
		{{#constant}}
			{{>footer}}
			<div id="chomper_bottom"><div id="footer_glow"></div></div>
		{{/constant}}
	</div>
</template>
<template name="page_">


		{{#constant}}
			<div id="chomper_top"><div id="header_glow"></div></div>
			{{>header}}
		{{/constant}}
		
		<div style="height: 100px;"></div>
		
		
		{{#constant}}
			{{>footer}}
			<div id="chomper_bottom"><div id="footer_glow"></div></div>
		{{/constant}}

</template>



<template name="page_home">
	{{>home_1}}
	{{>home_2}}
	{{>home_3}}
	{{>home_4}}
	{{>home_5}}
	{{>home_6}}
	{{>home_7}}
</template>


<template name="page_story">
	{{>story_1}}
	{{>story_2}}
	{{>story_3}}
	{{>story_4}}
	{{>story_5}}
</template>

<template name="page_kombucha">
	{{>kombucha_1}}
	{{>kombucha_2}}
	{{>kombucha_3}}
	{{>kombucha_4}}
	{{>kombucha_5}}
	{{>kombucha_6}}
</template>

<template name="page_order">
	{{>order_1}}
	{{>order_2}}
</template>

<template name="page_bars">
	{{>bars_1}}
	{{>bars_2}}
	{{>bars_3}}
	{{>bars_4}}
	{{>bars_5}}
</template>

<template name="page_restaurants">
	{{>restaurants_1}}
	{{>restaurants_2}}
	{{>restaurants_3}}
	{{>restaurants_4}}
	{{>restaurants_5}}
</template>

<template name="page_offices">
	{{>offices_1}}
	{{>offices_2}}
</template>

<template name="page_pricing">
	{{>pricing_1}}
	{{>pricing_2}}
	{{>pricing_3}}
</template>

<template name="page_sales">
	{{>sales_1}}
</template>

<template name="page_consumer">
	{{>consumer}}
</template>

<template name="page_product">
	<div id="product_wrapper">
		{{>product_1}}
		{{>product_2}}
		{{>product_3}}
		{{>product_4}}
		{{>product_5}}
		{{>product_6}}
		{{>product_7}}
	</div>
</template>




