<template name="more_brew">
	<div id="more_brew_outer">
		<div id="more_brew_wrap" class="wrap">
			<div id="left_two" >
				<div class="more_brew_image"></div>
				
			</div>
			<div id="right_two" class="white">
				<h2 class="blue_right">The Proccess</h2>
				<p class="gray"> Once we get the flavoring and carbonation levels just right, we bring it to your finest local restaurants and bars, and distribute it through our patented draft-like fizz-producing and cooling machine. ..So you know that Draft taste we all love when it comes to beer? We offer the same at restaurants and bars when it comes to Kombucha.  
				<p>
					<p class="gray">And that is how Conscious Kombucha became part of my life and The Movement started... </p>
				
			</div>
	
			<div style="clear:both"></div>
	
		
			<div id="radial_light"></div>
		</div>
	</div>
</template>