<template name="old_tap">
	<div id="old_tap_outer">
		<div id="old_tap_wrap" class="wrap">
			<div class="old_tap_left">
				<div class="old_tap_image"></div>
			</div>
			<div id="right">
				<h2 class="blue_title">Install A Tap!</h2>
				<p>The American Cancer Society indicates that kombucha has been promoted as a cure-all for a wide range of conditions including baldness, insomnia, intestinal disorders, arthritis, chronic fatigue syndrome, multiple sclerosis, AIDS, and cancer.  As you can see, the vast array of benefits from this probiotic drink are endless, however the available scientific evidence doesn’t strongly support these claims and there have been complications in some individuals.
				<p>
					<p>This is especially true when kombucha is brewed at home.  While there is still much to be debated about the safety and efficacy of using this drink, it’s something you may want to consider adding to your routine.

					</p>
				
			</div>
	
			<div style="clear:both"></div>
	
		
			<div id="radial_light"></div>
		</div>
	</div>
</template>