<template name="restaurants">
	<div id="restaurants_outer">
		<div id="restaurants_wrap" class="wrap">
			<div id="left" class="white">
				<h2 class="blue_title_low">For Restaurants</h2>
				<p class="gray">Kombucha, a bubbly elixir made from fermented tea, contains probiotics, antioxidants, enzymes and amino acids believed to help boost the immune system and digestion. Although it's sipped cold, the fizzy drink is currently a hot, hot trend.
				<p>
				<p class="gray">Meddlesome Moth and Spiral Diner were two of the first restaurants to offer kombucha on tap, but they currently only sell the bottled version, as do many grocery stores like Central Market and Natural Grocers. 
				<p>
				
			</div>
			<div class="bar_mini">
				<div class="mini_bar"></div>
				
			</div>
	
			<div style="clear:both"></div>
	
		
			<div id="radial_light"></div>
		</div>
	</div>
</template>