<template name="the_impact">
	<div id="impact_outer">
		<div id="impact_wrap" class="wrap">
			<div class="impact_left">
				<div class="impact_image"></div>
				
			</div>
			<div id="impact_right" class="white">
				<h2 class="blue_title">The Impact</h2>
				<p class="gray"> While at her place, she would run to the local market to get me food & drinks while I stayed stuck in bed with a heating pad on my back, ice packs on my face and an overwhelming feeling of anxiety, shame and guilt from what had happened.  
				<p>
					<p class="gray">It was during this time where I tried Kombucha for the first time. Not a huge fan of it upon the first sip, i continued drinking it that first week to help my body revitalize after all the damage it endured during the accident. </p>
				
			</div>
	
			<div style="clear:both"></div>
	
		
			<div id="radial_light"></div>
		</div>
	</div>
</template>