<template name="the_crash">
	<div id="crash_outer">
		<div id="crash_wrap" class="wrap">
			<div id="left" class="white">
				<h2 class="blue_title_low">The Crash</h2>
				<p class="gray">In the subsequent months I had to find a healthy beverage to help me recover. I was dealing with a lot of trauma from the accident and was completely drained; mentally and physically.  I was unable to do strenous exercise, had more difficulty with my concentration and memory... In fact, I found myself barely even able to articulate my thoughts and carry a conversation. 
				<p>
				<p class="gray">I needed to make changes in my life immediately to maintain and live a healthier lifestyle.  My girlfriend at the time was caring for me immediately after my accident...
				<p>
			
			</div>
			<div id="right">
				<div class="car_two"></div>
				
			</div>
	
			<div style="clear:both"></div>
	
		
			<div id="radial_light"></div>
		</div>
	</div>
</template>