<template name="the_tea">
	<div id="tea_outer">
		<div id="tea_wrap" class="wrap">
			<div class="tea_left">
				<div class="tea_image"></div>
				
			</div>
			<div id="tea_right" class="white">
				<h2 class="blue_title_low">The Tea</h2>
				<p class="gray"> The more I began to brew, the more I consumed.  Over the next year, I had made a tremendous recovery both physiologically and psychologically. My story began to resonate with friends who had heard about my accident and were surprised to see how quickly I was able to get "back to normal" so I began sharing my homebrew Kombucha.   
				<p>
					<p class="gray">And that is how Conscious Kombucha became part of my life and The Movement started... </p>
				
			</div>
	
			<div style="clear:both"></div>
	
		
			<div id="radial_light"></div>
		</div>
	</div>
</template>