<template name="two_kegs">
	<div id="two_kegs_outer">
		<div id="two_kegs_wrap" class="wrap">
			<div class="two_kegs_left">
				<div class="kegs_left"></div>
				
			</div>
			<div id="two_kegs_right" class="white">
				<img class="beerman_low" src="../../images/tyler_pic.jpg" width="160" height="160" alt="Tyler Pic">
				<h2 class="blue_title">Smart Drafts</h2>
				<p class="gray">The smartDRAFT™ Keg, made of stainless steel with its 10 l contents has an integrated CO2 supply. The two-chamber system keeps the beer fresh from the first to the final glass. This eliminates faults and quality impairments caused by the gas supply from cylinders.
				<p>
				
			</div>
	
			<div style="clear:both"></div>
	
		
			<div id="radial_light"></div>
		</div>
	</div>
</template>