<template name="tyler">
	<div id="tyler_outer">
		<div id="tyler_wrap">
			<div class="tyler_left">
				<div class="kombucha_left"></div>
			</div>
			<div class="tyler_right">
				<img class="beerman" src="../../images/tyler_pic.jpg" width="160" height="160" alt="Tyler Pic">
				<h2>Tyler Beerman</h2>
				<p>I'm a highly-driven entrepreneur with a passion for business, products and people. My current focus is to help clients bolster their personal brand and company image with a clean, custom website that offers them the ability to focus on their field of expertise without worrying about every little detail required to keep their online presence professional and presentable!
				<p>
				
			</div>
	
			<div style="clear:both"></div>
	
		
			<div id="radial_light"></div>
		</div>
	</div>
</template>