<template name="story_2">
	<div class="row_container" style="">	
		
		<div class="row_left">
			<img src="/images/car.png" style="width: 400px;" />
		</div>
		
		<div class="row_right white_info_box">
			<h2 class="blue_title_bar title_bar_right">The Crash</h2>
			
			<p class="gray">My first reaction was to turn my wheel back towards the freeway to get back on the road and I did so immediately. Unfortunately, my car was traveling so fast it spun-out of control and my car slipped-out before it proceeded to flip four or five times along side the freeway. The seatbelt I was wearing literally saved my life...</p>	
			<p class="gray">I was rushed to the hospital in an ambulance. Lucky to be alive woke-up that morning with a concussion, slight contusions to my left pre-frontal lobes and mild brain damage.</p>	
		</div>


		<div style="clear:both"></div>
		<div class="radial_light_new radial_light_left"></div>
	</div>
</template>


