<template name="story_4">
	<div class="row_container" style="">	
		
		<div class="row_left">
			<img src="/images/health.png" style="width: 480px;" />
		</div>
		
		<div class="row_right white_info_box">
			<h2 class="blue_title_bar title_bar_right">The Recovery</h2>
			
			<p class="gray">I made the conscious decision to change my life, and I knew it all started with what I put in my body. After trying Kombucha in the store, I was convinced it should be my go-to drink after water, since it had less sugar and more nutrients than all the others. About six months after The Crash, the impact was still evident, but I was able to finally start working-out again.</p>	
			
			<p class="gray">It was during this recovery time that Kombucha had become a part of my daily regiment to the point where I couldn't afford the habit, so I decided to start brewing my own....</p>
		</div>


		<div style="clear:both"></div>
		<div class="radial_light_new radial_light_left"></div>
	</div>
</template>




