<template name="story_5">
	<div class="row_container">	
		
		<div class="row_left white_info_box">
			<h2 class="blue_title_bar title_bar_left">Brewing a Better Life</h2>
			
			<p class="gray">After, friends saw my steadfast recovery, and others applauded my gym results and overall health/wellness -- not even knowing the recent damage my mind and body incurred!</p>
			<p class="gray"> As I told my story and shared my passion for Kombucha, I began to take notice of the rise in popularity. I wanted to make it available on draft to bars/restaurants as a healthy alternative to juice, soda and energy drinks. Thus, my passion for Kombucha has inspired me to brew, bottle (keg) and distribute my flavors to bars/restaurants and offices alone as a healthy and tasteful tonic for someone who may be planning to drive home, and doesn't want to take any risks driving as a result...</p>
		</div>
		
		<div class="row_right">
			<img src="/images/minikeg-3.png" style="width: 260px; margin-top: 40px; margin-right: 80px;" />
		</div>


		<div style="clear:both"></div>
		<div class="radial_light_new"></div>
	</div>
</template>



