<template name="home_4">
	<div class="row_container" style="">	
		
		<div class="row_left">
			<img src="/images/health.png" style="width: 480px;" />
		</div>
		
		<div class="row_right white_info_box">
			<h2 class="blue_title_bar title_bar_right">Because...</h2>
			
			<p class="gray">It's turned my life around, and the lives of many others. ...But that's the extreme case.</p>	
			
			<p class="gray">Kombucha Cleanses the Body and Fuels it in ways only possible from Natural Bacteria built to do just that. After my Car Accident where I almost met my maker, Kombucha repaired my system. I drink it to this day because it Hits the Spot!</p>
			
			<p class="gray">Please take a moment to review our site to learn why Conscious Kombucha is the Perfect Healthy Beverage Alternative at your Bar or Restaurant.</p>
		</div>


		<div style="clear:both"></div>
		<div class="radial_light_new radial_light_left"></div>
	</div>
</template>