<template name="restaurants_4">
	<div class="row_container" style="">	
		
		<div class="row_left" style="margin-top: -80px;">
			<img src="/images/right_display.png" />
		</div>
		
		<div class="row_right white_info_box">
			<h2 class="blue_title_bar title_bar_right">For Restaurants</h2>
			
			<p class="gray">We are currently offering restaurants a wonderful way to offer a unique high-quality beverage that demands a premium price, yet exudes quality and character that only Conscious Kombucha can offer!</p>	
			<p class="gray">Treat your customers to the best-tasting and healthiest-beverage in town!!!</p>
		</div>


		<div style="clear:both"></div>
		<div class="radial_light_new radial_light_left"></div>
	</div>
</template>

