<template name="footer">
	<div id="footer_wrap">
		
		<div id="footer_glow_two"></div>
		
		<div id="footer">
			
			<div id="footer_links">
				<div class="flavors">
					<a href="/story" class="{{active 'story'}}">Our Story</a>	
				</div>
				<div class="products">
					<a href="/kombucha" style="margin-left:-34px;" class="{{active 'kombucha'}}">What is Kombucha?</a>				
				</div>
				<div class="locations">
					<a href="/order" class="{{active 'order'}}">Order</a>			
				</div>
			</div>
		
		<div class="footer_logo"></div>
	
		</div>
	</div>
</template>