<template name="kombucha_6">
	<div class="row_container" style="">	
		
		<div class="row_left">
			<img src="images/komcktail.png" style="width: 310px; margin-left: 60px;" />
		</div>
		
		<div class="row_right white_info_box" style="margin-right: 60px;">
			<h2 class="blue_title_bar title_bar_right">The Future</h2>
			
			<p class="gray">It is the absolute best substitute for every existing non-alcoholic drink at bars including all energy drinks, juices and sodas. In fact, not only is it a healthier substitute but it also cuts alcohol much better!</p>
			
			<p class="gray">Right now, we are offering Countertop System to deliver our Kombucha 5L keg on Draft to your venue -- ready to serve! Now that you are on-board, JOIN The Movement! We must share this consciousness with others; it's time to DRINK to YOUR Health!</p>
		</div>


		<div style="clear:both"></div>
		<div class="radial_light_new radial_light_left"></div>
	</div>
</template>