<template name="kombucha_5">
	<div class="row_container" style="">	
		
		<div class="row_left white_info_box">
			<h2 class="blue_title_bar title_bar_left">Conscious Movement</h2>
			
			<p class="gray">Although much of the flavor is determined first with choosing the tea, then with fermentation and the type of SCOBY, we finalize our product after the brewing process with a trade-secret for maximizing fizziness while creating a zing from the natural carbonation!</p>
			
			<p class="gray">Kombucha is the ideal 'detox' coupled with water. It is rich in many of the enzymes and bacterial acids your body produces and/or uses to detox your system, thus reducing your pancreatic load and easing the burden on your liver. Kombucha is also a great way to get a variety of quality nutrients like antioxidants, essential amino and organic acids, b-vitamins, polyphenols and probiotics.</p>
		</div>
		
		<div class="row_right">
			<img src="/images/bluecar.png" style="width: 450px;" />
		</div>


		<div style="clear:both"></div>
		<div class="radial_light_new"></div>
	</div>
</template>