<template name="kombucha_3">
	<div class="row_container" style="">	
		
		<div class="row_left white_info_box">
			<h2 class="blue_title_bar title_bar_left">Why Drink Kombucha?</h2>
			
			<p class="gray">It is the best way to revitalize and detox your body in addition to water. Kombucha increases metabolism, improves digestion, enhances immune system and alkalizes the body.</p>
			<p class="gray">It doesn't have enough alcohol (less than .5%) to do damage to the body/brain and is packed with micro-nutrients including: antioxidants, essential amino/organic acids, b-vitamins, polyphenols and probiotics.</p>
			<p class="gray">It is very tasty by itself in a glass, but can actually be used as a healthy supplement to your favorite cocktail. Forget soda, energy drinks and juice! They are high in sugar, carbs and calories that only add additional toxins to your system and add to the hangover.</p>
			
			
		</div>
		
		<div class="row_right">
			<img src="/images/new_scoby.png" style="width: 400px;" />
		</div>


		<div style="clear:both"></div>
		<div class="radial_light_new"></div>
	</div>
</template>