<template name="kombucha_1">
	<div class="row_container" style="margin-top:100px;">	
		
		<div class="row_left white_info_box">
			<h2 class="blue_title_bar title_bar_left">Mission Statement</h2>
			
			<p class="gray">Our Mission: To brew and distribute, the best liquid elixir imaginable for The Conscious Kombucha Movement.</p>
			
			<p class="gray">We brew all our tea with safe & clean kitchen products in Santa Barbara, CA. To ensure the utmost integrity of our kombucha, we use a filtered water reverse osmosis-system and add quality leaves to the steeping process. Then we add the tea to a SCOBY to bring the tea alive! Since all the tea is live during the fermentation process, we provide a clean-air breathing environment and talk to all our tea to show our gratitude for the love we have for every batch!!</p>
		</div>
		
		<div class="row_right">
			<img src="/images/right_display.png" style="width: 480px; margin-top: 30px;" />
		</div>


		<div style="clear:both"></div>
		<div class="radial_light_new"></div>
	</div>
</template>