<template name="kombucha_2">
	<div class="row_container" style="">	
		
		<div class="row_left">
			<img src="/images/growler.png" style="width: 300px; margin-left:80px;" />
		</div>
		
		<div class="row_right white_info_box" style="margin-top: 80px;">
			<h2 class="blue_title_bar title_bar_right">What is Kombucha?</h2>
			
			<p class="gray">Water, Tea Leaves, Sugar and sometimes a little ginger, or fresh-squeezed fruit juice.</p>
			
			<p class="gray">Kombucha is simply a brewed sweet-tea that ferments with a (SCOBY) symbiotic colony of bacteria and yeast. It can offer a variety of benefits depending on the type of tea leaves, quality of products, and a number of brewing factors that affect the flavor; including the fermentation process.</p>	
		</div>


		<div style="clear:both"></div>
		<div class="radial_light_new radial_light_left"></div>
	</div>
</template>
