<template name="kombucha_4">
	<div class="row_container" style="">	
		
		<div class="row_left">
			<img src="/images/new_growler.png" style="width: 300px; margin-left:50px;" />
		</div>
		
		<div class="row_right white_info_box">
			<h2 class="blue_title_bar title_bar_right">Our Style</h2>
			
			<p class="gray">The traditional brewing process includes brewing the sweet-tea with the SCOBY for two weeks before entering our double-ferment process.</p>			
			<p class="gray">Although much of the flavor is determined first with brewing the tea, then the SCOBY selection, our product is only packaged once we complete our trade-secret fermentation process for maximizing fizziness while creating a zing from the natural carbonation that creates the elixir we all deserve!</p>	
		</div>


		<div style="clear:both"></div>
		<div class="radial_light_new radial_light_left"></div>
	</div>
</template>