<template name="consumer">
		<div class="buddha">
			<ul class="list_l">
				<a href="/"><li>Cleanse</li></a>
				<a href="/"><li>Karma</li></a>
				<a href="/"><li>Truth</li></a>
			</ul>
			<div class="yoga_head"></div>
			<ul class="list_r">
				<a href="/"><li>Detox</li></a>
				<a href="/"><li>Energy</li></a>
				<a href="/"><li>Purpose</li></a>
			</ul>
		</div>
	</div>
		<div class="flavor_profile">
			<p>Why drink Kombucha? Because juice is for children! Our “Enlightened Tea” is a clean & fizzy fermented beverage that embraces a sweet yet sour bite, with a tangy taste. Cleansing & detoxifying your system, no more menacing caloric sodas or juices. Drink to your health!</p>
			<img class="dotted_line" src="../../../images/dotted_line.png" width="439" height="1" alt="Dotted Line">
		</div>	
		<div style="clear:both"></div>
		<div class="radial_light_new"></div>
</template>