#bar_wrap {
background: url('../../images/big_bar-2.png') no-repeat;
top: 0px;
}
.bar_pic {

width:441px;
height:507px;	
float:right;
}
.bar_left {
float: left;
padding-top: 100px;
z-index: 3;
position: relative;
}
.bar_right {
float: right;
position: relative;
top: 23px;
z-index: 4;
}
.learn {
background: url('../../images/lrnmre.png') 0 0 no-repeat;
width:175px;
height: 58px;
font-size:22px;
color:white;
text-align:center;
line-height:2.2;
text-shadow: 1px 2px rgb(0, 0, 0);
margin-top: 43px;	

}
.learn:hover {
background: url('../../images/lrnmre.png') 0 -59px no-repeat;
}
