#drinks {
margin:0 auto;
width:1121px;
padding-top: 500px;
}
.menu {
background: url('../../images/recipe_bg.png') no-repeat;	
height:341px;
width:203px;
float:left;
margin-right:10px;
}
.menu .menu_title {
background: url('../../images/recipe_title.png') no-repeat;	
height:87px;
width:205px;
margin-top: -45px;
text-shadow: 2px 2px #334433;
text-align: center;
color:white;
line-height:6;	
}
.menu ul.drink_menu {
margin-top: -7px;
}
.menu li {	
height:32px;
font-weight:bold;
margin-left: 27px;
text-indent: 7px;
line-height: 2;
}
.menu li.gray {
background: url('../../images/menu_button.png') no-repeat;	
height:32px;
width:148px;
}
.menu .ingredients {
background: url('../../images/menu_button-1.png') no-repeat;	
height:102px;
width:148px;
margin-left: 27px;
margin-top: 7px;
font-size:14px;
padding-left: 3px;
}
.menu .ingredients p {
margin-top: 7px;
}

.hot_t {
background: url('../../images/drink_bg-8.png') no-repeat;	
height:361px;
width:335px;
margin-left:-30px;
float:left;	
margin-right:-20px;	
}
.hot_t .drink_one {
background: url('../../images/collage_onecopy.png') 0 0 no-repeat;	
height:422px;
width:304px;
margin-top:-108px;	
}
.hot_t .drink_one:hover {
background: url('../../images/collage_onecopy.png') 0 -422px no-repeat;	
}
.fruity_tooty {
background: url('../../images/drink_bg-8.png') no-repeat;	
height:361px;
width:335px;
float:left;	
margin-right:-30px;	
}
.fruity_tooty .drink_two {
background: url('../../images/collage_two-2.png') 0 0 no-repeat;	
height:437px;
width:304px;
margin-left:13px;
margin-top:-95px;	
}
.fruity_tooty .drink_two:hover {
background: url('../../images/collage_two-2.png') 0 -437px no-repeat;	
}
.fruity_tooty .name {
margin-top:0px;
}
.fruity_tooty .drink_two .mixers {
margin-left:30px;
}
.tea_paine {
background: url('../../images/drink_bg-8.png') no-repeat;	
height:361px;
width:335px;
margin-left:10px;
margin-right:-29px;	
float:left;	
}
.tea_paine .drink_three {
background: url('../../images/collage_three-1.png') 0 0 no-repeat;	
height:435px;
width:304px;
margin-top:-87px;
margin-left: 16px;	
}
.tea_paine .drink_three:hover {
background: url('../../images/collage_three-1.png') 0 -435px no-repeat;	
}
.tea_paine .drink_three .mixers {
margin-left:10px;
}

.name {
background: url('../../images/nameplate-1.png') no-repeat;	
height:129px;
width:241px;
margin-left:20px;
text-shadow: 2px 2px #334433;
text-align: center;
font-size:24px;
font-weight:bold;
color:white;
line-height:5.2;
}
.hot_t .name {
margin-top: -28px;
}
.fruity_tooty .name {
margin-top:-52px;
}
.tea_paine .name {
margin-top:-55px;
}

.recipes {
background: url('../../images/menu_bg.png') no-repeat;	
height:341px;
width:203px;
float: left;	
margin-right: -56px;
margin-top: 40px;
font-size:14px;
padding-left: 3px;
}
.recipes .description {
background: url('../../images/menu_bgcopy.png') no-repeat;	
height:226px;
width:127px;
margin-top: 25px;
margin-left: 23px;
padding:4px;
font-size:13px;
}
.recipes ul.drink_recipe {
margin-left: 24px;
margin-top: 25px;
}
.recipes ul.drink_recipe li img {
margin-right:5px;
}
.recipe_title {
background: url('../../images/right_title.png') no-repeat;	
height:81px;
width:177px;
margin-top: -46px;
margin-left: -7px;	
text-shadow: 2px 2px #334433;
text-align: center;
color:white;
line-height:6;
}
