#footer_wrap {
position: fixed;
bottom: 0;
width: 100%;
background: url('../../images/footer_noglow.png') center top no-repeat;
height: 148px;
z-index: 6;
}
#footer {
width: 960px;
margin:0 auto;
position:relative;
height: 148px;
overflow: hidden;
}
.flavors, .products, .locations, .purchase {
width:220px;
height:80px;
text-indent:15px;
float: left;
line-height:4;
font-size:22px;
font-weight:normal;
margin-top:50px;
position: relative;
z-index: 3;
}
.search {
width: 74px;
height:80px;
border-left:1px solid rgba(74, 75, 75, 0.5);
border-right:1px solid rgba(74, 75, 75, 0.5);
text-indent:15px;
float: left;
line-height:4;
font-size:22px;	
}
#footer img {
margin-left:70px;
}
.flavors {	
}
.products {
}
#footer a {
border-bottom:none;	
}
.footer_logo {
width:360px;
height:69px;
background: url('../../images/logo-3.png') center top no-repeat;
cursor:pointer;
position: absolute;
right: 0;
top: 70px;
}