#for_bars_wrap {
top:200px;
}
.for_bars_image {
background: url('../../images/ca_bar.png') no-repeat;
width:480px;
height:479px;	
float:left;
margin-top:55px;
}
.for_bars_left {
float: left;
top: 140px;
z-index: 3;
position: relative;
}
#for_bars_right {
float: right;
position: relative;
top:180px;
z-index: 4;
width: 381px;
background: #f7f7f7;
-webkit-box-shadow: -2px 2px 6px rgba(50, 50, 50, 0.61);
-moz-box-shadow:    -2px 2px 6px rgba(50, 50, 50, 0.61);
box-shadow:         -2px 2px 6px rgba(50, 50, 50, 0.61);
padding: 10px;
}

