#future_three_wrap {
top: 225px;
}
#left h2.blue_title {
margin-left: 12px;
margin-top: -65px;	
}
.future_three {
background: url('../../images/minikeg-3.png') no-repeat;
width: 378px;
height: 512px;	
float:right;
}
