#map_wrap {
padding-left: 12px;
width:960px;
margin:0 auto;
position: relative;
padding-top: 225px;
margin-bottom: 100px;
}

.map_left {
float: left;
padding-top: 100px;
width:460px;
z-index: 3;
position: relative;

}
.map_right {
background: url('../../images/blue_tap.png') no-repeat;
width:368px;
height:500px;
float: right;
position: relative;
top: 200px;
z-index: 4;

}
.map_left h2 {
background: url('../../images/big_name.png') no-repeat;
width:363px;
height:116px;
font-size:28px;
text-align:center;
line-height:4.5;	
margin-bottom:10px;
}
.map_left p.space {
margin-top:10px;
}
.map_left .iframe iframe {
-webkit-box-shadow: -6px 6px 7px rgba(50,50,50,.51);
-moz-box-shadow: -6px 6px 7px rgba(50,50,50,.51);
box-shadow: -6px 6px 7px rgba(50,50,50,.51);
border:4px solid #0069aa;

}