#right_wrap {
padding-left: 12px;
width:960px;
margin:0 auto;
position: relative;
}
.image_left {
background: url('../../images/komcktail.png') no-repeat;
width:353px;
height:430px;	
float:left;
}
.page_left {
float: left;
padding-top: 100px;
z-index: 3;
position: relative;
}
.page_right {
float: right;
position: relative;
top: 160px;
z-index: 4;
width:450px;
}
.page_right h2 {
background: url('../../images/big_name.png') no-repeat;
width:372px;
height:116px;
font-size:30px;
text-align:center;
line-height:4.2;	
}
.page_right img.beerman {
border:6px solid #0069aa;
margin-left:90px;

}