#left_wrap {
padding-left: 12px;
width:960px;
margin:0 auto;
position: relative;
padding-top: 125px;
}

.text_left {
float: left;
padding-top: 100px;
z-index: 3;
width:450px;
position: relative;
}
.text_left h2 {
background: url('../../images/big_name.png') no-repeat;
width:363px;
height:116px;
font-size:30px;
text-align:center;
line-height:4.2;	
}
.text_left img.beerman {
border:6px solid #0069aa;
margin-left:90px;

}
.pic_right {
float: right;
position: relative;
top: 160px;
z-index: 4;
width:450px;
}
.page_left_image {
background: url('../../images/smart_draft-1.png') no-repeat;
width:269px;
height:394px;	
float:right;
}
