#ribbon {
position: fixed;
width: 199px;
height: 487px;
background: url(../../images/ribbon.png) no-repeat;
left: 50%;
margin-left: 277px;
z-index: 10;
}
.announcements {
width: 142px;
height: 25px;
background: url(../../images/announce.png) 0 0 no-repeat;
color: #fff;
font-size: 12px;
text-align: center;
text-indent: -10px;
line-height: 1.7;
text-shadow: 1px 2px #716e6e;
cursor: pointer;
position: fixed;
z-index: 11;
margin-left: 50%;
left: 308px;
}
.announcements:hover {
background:  url('../../images/announce.png') 0 -25px no-repeat;	
}
.tap {
width: 113px;
height:383px;
background:  url('../../images/tap-3.png') no-repeat;
margin-left:40px;
margin-top:10px;	
}
.order {
width: 153px;
height:39px;
background:  url('../../images/tap_sprite.png')0 0 no-repeat;
margin-left:27px;
margin-top:-20px;
cursor:pointer;	
color:white;
text-align:center;
line-height:1.7;
text-shadow: 1px 2px rgb(0, 0, 0);
}
.order:hover{
background:  url('../../images/tap_sprite.png')0 -39px no-repeat;

}