#right_two_wrap {
padding-left: 12px;
width:960px;
margin:0 auto;
position: relative;
}
.two_left {
background: url('../../images/old_tap.png') no-repeat;
width:480px;
height:479px;	
float:left;
}
.right_two_left {
float: left;
padding-top: 100px;
z-index: 3;
position: relative;
}
.right_two_right {
float: right;
position: relative;
top: 160px;
z-index: 4;
width:450px;
}
.right_two_right h2 {
background: url('../../images/big_name.png') no-repeat;
width:363px;
height:116px;
font-size:30px;
text-align:center;
line-height:4.2;	
}
.right_two_right img.beerman {
border:6px solid #0069aa;
margin-left:90px;

}